body {
  margin: 0;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.25em;
}
table {
  margin: auto;
}
table tr td {
  text-align: left;
}
hr {
  width: 50%;
}
p {
  line-height: 1.5;
}

.top-container {
  background-color: #c3edea;
  padding-top: 100px;
}
.top-container h1 {
  font-size: 5.625rem;
  margin: auto;
  margin-top: 100px;
}
.top-container h2 {
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 2;
}
.top-cloud {
  position: relative;
  left:250px;
}
.bottom-cloud {
  position:absolute;
}

.middle-container {
  margin: auto;
}
.profile {
  padding-top: 100px;
}
.profile p {
  margin:auto;
  width: 50%;
}
.technical-skill {
  padding-top: 100px;
}
.col-2 {
  padding-left: 100px;
}
.checked {
  color: orange;
}
.project-panel {
  padding-top: 100px;
}
.project-panel p {
  margin:auto;
  margin-bottom: 30px;
  width: 40%;
}
.web-design {
  width: 60%;
}
.project-panel div {
  display: inline-block;
  margin: 10px;
}
.project-panel div img {
  border-radius: 5px;
}
.project-panel div a {
  font-size: 12px;
}
.seminar-conference {
  background-color: #c3edea;
  padding-top: 100px;
}
.semtitle {
  font-weight: bold;
}
.semcompany {
  font-style: italic;
  font-weight: bold;
}
.training-certification {
  background-color: #f9d89c;
  padding-top: 100px;
}
.certtitle {
  font-weight: bold;
}
.certcompany {
  font-style: italic;
  font-weight: bold;
}
.experience {
  padding-top: 100px;
}
.experience table tr td p {
  margin: 0 0;
  margin-left: 5px;
}
.exptitle {
  font-weight: bold;
}
.expcompany {
  font-style: italic;
  font-weight: bold;
}
.education {
  background-color: #74d4c0;
  padding-top: 100px;
}
.edutitle {
  font-size: 20px;
  font-weight: bold;
}
.edudiplotitle {
  font-style: italic;
  font-weight: bold;
}
.hobby {
  background-color: #ff9d76;
  padding-top: 100px;
}
.hobby table tr td {
  font-size: 20px;
}
.hobby table tr td img {
  margin-left: 250px;
}
.language {
  background-color: #f19292;
  padding-top: 100px;
}
.language table tr td {
  font-size: 20px;
}
.lang {
  font-style: italic;
  font-weight: bold;
}
.contact-me {
  background-color: #c3edea;
  padding-top: 100px;
}
.contact-me table {
  border: 5px dashed black;
}
.contact-me table tr th {
  text-decoration: underline;
}
.coninfo {
  font-style: italic;
  font-weight: bold;
}
.contact-me table td a {
  text-decoration: none;
}

.bottom-container {
  background-color: #c3edea;
  margin: 0px auto 0px auto;
  padding: 30px 0px 0px 0px;
}
.bottom-container p {
  margin-bottom: 0px;
}
